@font-face {
  font-family: "iconfont";
  src: url("./iconfont.woff") format("woff"),
    url("./iconfont.ttf") format("truetype");
}

[class*='yxy-icon-'] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yxy-icon-rili:before {
  content: "\e76e";
}

.yxy-icon-yuyin:before {
  content: "\e76f";
}

.yxy-icon-zhishi:before {
  content: "\e770";
}

.yxy-icon-auto:before {
  content: "\e6eb";
}

.yxy-icon-all:before {
  content: "\e6ef";
}

.yxy-icon-bussiness-man:before {
  content: "\e6f0";
}

.yxy-icon-component:before {
  content: "\e6f2";
}

.yxy-icon-code:before {
  content: "\e6f3";
}

.yxy-icon-copy:before {
  content: "\e6f4";
}

.yxy-icon-dollar:before {
  content: "\e6f5";
}

.yxy-icon-history:before {
  content: "\e6f8";
}

.yxy-icon-editor:before {
  content: "\e6f6";
}

.yxy-icon-data:before {
  content: "\e6f9";
}

.yxy-icon-gift:before {
  content: "\e6fa";
}

.yxy-icon-integral:before {
  content: "\e6fb";
}

.yxy-icon-nav-list:before {
  content: "\e6fd";
}

.yxy-icon-pic:before {
  content: "\e6ff";
}

.yxy-icon-Notvisible:before {
  content: "\e6fe";
}

.yxy-icon-play:before {
  content: "\e701";
}

.yxy-icon-rising:before {
  content: "\e703";
}

.yxy-icon-QRcode:before {
  content: "\e704";
}

.yxy-icon-rmb:before {
  content: "\e705";
}

.yxy-icon-similar-product:before {
  content: "\e707";
}

.yxy-icon-Exportservices:before {
  content: "\e702";
}

.yxy-icon-sendinquiry:before {
  content: "\e70d";
}

.yxy-icon-all-fill:before {
  content: "\e718";
}

.yxy-icon-favorites-fill:before {
  content: "\e721";
}

.yxy-icon-integral-fill:before {
  content: "\e726";
}

.yxy-icon-namecard-fill:before {
  content: "\e72a";
}

.yxy-icon-pic-fill:before {
  content: "\e72e";
}

.yxy-icon-play-fill:before {
  content: "\e72f";
}

.yxy-icon-prompt-fill:before {
  content: "\e730";
}

.yxy-icon-stop-fill:before {
  content: "\e738";
}

.yxy-icon-column:before {
  content: "\e741";
}

.yxy-icon-add-account:before {
  content: "\e742";
}

.yxy-icon-column1:before {
  content: "\e743";
}

.yxy-icon-add:before {
  content: "\e744";
}

.yxy-icon-agriculture:before {
  content: "\e745";
}

.yxy-icon-years:before {
  content: "\e746";
}

.yxy-icon-add-cart:before {
  content: "\e747";
}

.yxy-icon-arrow-right:before {
  content: "\e748";
}

.yxy-icon-arrow-lift:before {
  content: "\e749";
}

.yxy-icon-apparel:before {
  content: "\e74a";
}

.yxy-icon-all1:before {
  content: "\e74b";
}

.yxy-icon-arrow-up:before {
  content: "\e74c";
}

.yxy-icon-ascending:before {
  content: "\e74d";
}

.yxy-icon-ashbin:before {
  content: "\e74e";
}

.yxy-icon-atm:before {
  content: "\e74f";
}

.yxy-icon-bad:before {
  content: "\e750";
}

.yxy-icon-attachent:before {
  content: "\e751";
}

.yxy-icon-browse:before {
  content: "\e752";
}

.yxy-icon-beauty:before {
  content: "\e753";
}

.yxy-icon-atm-away:before {
  content: "\e754";
}

.yxy-icon-assessed-badge:before {
  content: "\e755";
}

.yxy-icon-auto1:before {
  content: "\e756";
}

.yxy-icon-bags:before {
  content: "\e757";
}

.yxy-icon-calendar:before {
  content: "\e758";
}

.yxy-icon-cart-full:before {
  content: "\e759";
}

.yxy-icon-calculator:before {
  content: "\e75a";
}

.yxy-icon-cameraswitching:before {
  content: "\e75b";
}

.yxy-icon-cecurity-protection:before {
  content: "\e75c";
}

.yxy-icon-category:before {
  content: "\e75d";
}

.yxy-icon-close:before {
  content: "\e75e";
}

.yxy-icon-certified-supplier:before {
  content: "\e75f";
}

.yxy-icon-cart-Empty:before {
  content: "\e760";
}

.yxy-icon-code1:before {
  content: "\e761";
}

.yxy-icon-color:before {
  content: "\e762";
}

.yxy-icon-conditions:before {
  content: "\e763";
}

.yxy-icon-confirm:before {
  content: "\e764";
}

.yxy-icon-company:before {
  content: "\e765";
}

.yxy-icon-ali-clould:before {
  content: "\e766";
}

.yxy-icon-copy1:before {
  content: "\e767";
}

.yxy-icon-credit-level:before {
  content: "\e768";
}

.yxy-icon-coupons:before {
  content: "\e769";
}

.yxy-icon-connections:before {
  content: "\e76a";
}

.yxy-icon-cry:before {
  content: "\e76b";
}

.yxy-icon-costoms-alearance:before {
  content: "\e76c";
}

.yxy-icon-clock:before {
  content: "\e76d";
}

.yxy-icon-CurrencyConverter:before {
  content: "\e771";
}

.yxy-icon-cut:before {
  content: "\e772";
}

.yxy-icon-data1:before {
  content: "\e773";
}

.yxy-icon-Customermanagement:before {
  content: "\e774";
}

.yxy-icon-descending:before {
  content: "\e775";
}

.yxy-icon-double-arro-right:before {
  content: "\e776";
}

.yxy-icon-customization:before {
  content: "\e777";
}

.yxy-icon-double-arrow-left:before {
  content: "\e778";
}

.yxy-icon-discount:before {
  content: "\e779";
}

.yxy-icon-download:before {
  content: "\e77a";
}

.yxy-icon-dollar1:before {
  content: "\e77b";
}

.yxy-icon-default-template:before {
  content: "\e77c";
}

.yxy-icon-editor1:before {
  content: "\e77d";
}

.yxy-icon-eletrical:before {
  content: "\e77e";
}

.yxy-icon-electronics:before {
  content: "\e77f";
}

.yxy-icon-etrical-equipm:before {
  content: "\e780";
}

.yxy-icon-ellipsis:before {
  content: "\e781";
}

.yxy-icon-email:before {
  content: "\e782";
}

.yxy-icon-falling:before {
  content: "\e783";
}

.yxy-icon-earth:before {
  content: "\e784";
}

.yxy-icon-filter:before {
  content: "\e785";
}

.yxy-icon-furniture:before {
  content: "\e786";
}

